/* LANDING PAGE */

/** LANDING PAGE HEADER */
h1.leave-home {
  animation: leave-home 0.5s ease-in-out alternate forwards;
}
@keyframes leave-home {
  0% {
    scale: 1;
  }
  100% {
    scale: 0.25;
    translate: -30% -130%;
  }
}

h1.return-home {
  animation: return-home 0.5s ease-in-out alternate forwards;
}
@keyframes return-home {
  0% {
    scale: 0.25;
    translate: -30% -130%;
  }
  100% {
    scale: 1;
  }
}

/* SUBHEADING */
h2.fade-in {
  color: black;
  animation: fade-in 0.5s ease-in-out alternate forwards;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    color: rgb(var(--background-start-rgb));
  }
  100% {
    opacity: 1;
    color: rgb(var(--foreground-rgb));
  }
}

h2.fade-out {
  color: rgb(var(--background-start-rgb));
  animation: fade-out 0.5s ease-in-out alternate forwards;
}
@keyframes fade-out {
  0% {
    opacity: 1;
    color: rgb(var(--foreground-rgb));
  }
  100% {
    opacity: 0;
    color: rgb(var(--background-start-rgb));
  }
}

/** LANDING PAGE BUTTONS */
.nav-not-landing {
  animation: bottom-to-top 0.5s ease-in-out alternate forwards;
}
@keyframes bottom-to-top {
  0% {
    translate: 0;
  }
  100% {
    translate: 6vw -65.5vh;
  }
}

.nav-landing {
  animation: top-to-bottom 0.5s ease-in-out alternate forwards;
}

@keyframes top-to-bottom {
  0% {
    translate: 6vw -65.5vh;
  }
  100% {
    translate: 0;
  }
}

.lr-shake:active {
  animation: lr-shake 0.5s ease-in-out;
}

@keyframes lr-shake {
  0% {
    rotate: 0;
  }
  10% {
    rotate: 10deg;
  }
  20% {
    rotate: -9deg;
  }
  30% {
    rotate: 8deg;
  }
  40% {
    rotate: -7deg;
  }
  50% {
    rotate: 6deg;
  }
  60% {
    rotate: -5deg;
  }
  70% {
    rotate: 4deg;
  }
  80% {
    rotate: -3deg;
  }
  90% {
    rotate: 2deg;
  }
  100% {
    rotate: 0;
  }
}
